{% load static %}
<section class="cares">
    <div class="subsection-title">
        <h2>Plant Care</h2>
    </div>
    <h2>Show your plant some love</h2>

<form action="{% url 'add-care' plant.id %}" method="post" class="subsection-content">
    {% csrf_token %}
    {{ care_form.as_p }}
    <button type="submit" class="btn submit">Give Care</button>
</form>

    <h2>Recorded Care</h2>
    {% if plant.care_set.all %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Care Type</th>
            </tr>
        </thead>
        <tbody>
            {% for care in plant.care_set.all %}
            <tr>
                <td>{{ care.date }}</td>
                <td>{{ care.get_care_type_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
        <p>{{ plant.name }} needs some attention! </p>
    </div>
    {% endif %}
</section>