{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/plants/plant-form.css' %}" />
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <header class="form-header">
        {% if category %}
        <h1>Edit {{ category.name }} </h1>
    {% else %}
        <h1>Add a Category</h1>
    {% endif %}
    </header>
</div>

    <form action="" method="post" class="form-container">
        {% csrf_token %}
        <div class="form-grid">
            {% for field in form %}
                <div class="field-container full-width">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        
        <div class="action-links">
            <button type="submit" class="submit-btn">Save</button>
            <a href="{% url 'category-list' %}" class="btn-minimal warn">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}