{% extends 'base.html' %} {% block content %}
<h1>Category Detail Page</h1>

<p>{{ category.get_name_display }}</p>

<h2>{{ category.name }}</h2>
<h2>{{ category.description }}</h2>
<div class="category-actions">
  <a href="{% url 'category-update' category.id%}" class="btn warn">Edit</a>
  <a href="{% url 'category-delete' category.id%}" class="btn danger">Delete</a>
</div>
<ul>
    {% for plant in category.plant_set.all %}
    <li>
        <a href="{% url 'plant-detail' plant.id %}">
          {{ plant.name }}
        </a>
    </li>
    {% empty %}
    <li>No plants in this category!</li>
    {% endfor %}
</ul>

{% endblock %}


