{% extends 'base.html' %} {% load static %}{% block content %}

<section class="cares-container">
  <h1>Category Detail Page</h1>

  <div class="plant-details">
    <p class="tagline">{{ category.get_name_display }}</p>
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
  </div>
</section>

<section class="cares-container">
  <h2>Plants in {{ category.name }}</h2>

  <div class="category-plant-links">
    {% for plant in category.plant_set.all %}
        <a href="{% url 'plant-detail' plant.id %}" class="plant-link">
            {{ plant.name }}
        </a>
    {% empty %}
        <p class="empty-msg">No plants in this category yet!</p>
    {% endfor %}
    </div>

    <div class="action-links">
      <a href="{% url 'category-update' category.id%}" class="btn-minimal warn">Edit</a>
      <a href="{% url 'category-delete' category.id%}" class="btn-minimal danger">Delete</a>
    </div>
</section>

{% endblock %}


