{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/plants/plant-form.css' %}" />
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <header class="form-header">
        {% if plant %}
            <h1>Edit {{ plant.name }} </h1>
        {% else %}
            <h1>Add a Plant</h1>
        {% endif %}
    </header>

    <form action="" method="post" class="form-container">
        {% csrf_token %}
        <div class="form-grid">
            <div class="field-container">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="field-container">
                {{ form.size.label_tag }}
                {{ form.size }}
            </div>

            <div class="field-container full-width">
                {{ form.notes.label_tag }}
                {{ form.notes }}
            </div>

            <div class="field-container full-width">
                {{ form.image_url.label_tag }}
                {{ form.image_url }}
            </div>
        </div>

        <button type="submit" class="submit-btn">Save Plant</button>
    </form>
</div>

{% endblock %}