{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/plants/plant-detail.css' %}" />

<section class="plant-container">
    <div class="plant-details">
        <h1>{{ plant.name }}</h1>
        <h2>{{ plant.size }}</h2>
        <h2>{{ plant.category }}</h2>
        <h3>{{ plant.notes }}</h3>  
        <div class="plant-actions">
            <a href="{% url 'plant-update' plant.id%}" class="btn warn">Edit</a>
            <a href="{% url 'plant-delete' plant.id%}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<div class="cares-container">
    {% include 'plants_app/partials/plant_cares.html' %}
</div>
{% endblock %}
