{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/plants/plant-detail.css' %}" />

<section class="plant-container">
        <div class="detail-image">
        {% if plant.image_url %}
            <img src="{{ plant.image_url }}" alt="{{ plant.name }}">
        {% else %}
            <img src="{% static 'images/default-plant.jpg' %}" alt="generic plant placeholder">
        {% endif %}
        </div>

    <div class="plant-details">
        <h1>{{ plant.name }}</h1>
        <h2>{{ plant.get_size_display }}</h2>
        <h2>{% for category in plant.categories.all %}
            {{ category.name }}
            {% endfor %}
        </h2>
        <h3>{{ plant.notes }}</h3>  

        <div class="action-links">
            <a href="{% url 'plant-update' plant.id%}" class="btn-minimal warn">Edit</a>
            <a href="{% url 'plant-delete' plant.id%}" class="btn-minimal danger">Delete</a>
        </div>
    </div>
</section>
    {% include 'plants_app/partials/plant_cares.html' %}
{% endblock %}
