{% extends 'base.html' %} {% load static %} {% block content %}
<section class="cares-container confirm-delete">
    <h1>Delete Plant</h1>

    <div class="delete-info">
        <h2>Are you sure you want to delete {{plant.name}} ?</h2>
    </div>


    <form action="" method="post" class="care-form-container">
        {% csrf_token %}
        <div class="action-links">
            <a href="{% url 'plant-detail' plant.id %}" class="btn-minimal warn">Cancel</a>
            <button type="submit" class="submit-btn danger">Yes</button>
        </div>
    </form>
</section>

{% endblock %}