{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Beleaf</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="/">
                <img src="" alt="Beleaf Logo" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'plant-list' %}">All Plants</a></li>
                <li><a href="{% url 'plant-create' %}">Add Plant</a></li>
                <li><a href="">All Categories</a></li>
                <li><a href="">Add Category</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>