{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Beleaf</title>
    {% block head %}
    {% endblock %}
</head>
<body class="main-wrap">
    <header class="main-header">
        <div class="header-logo-container">
            <a href="/">
                <span class="logo-emoji">🪴</span> 
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'plant-list' %}">All Plants</a></li>
                <li><a href="{% url 'plant-create' %}">Add Plant</a></li>
                <li><a href="{% url 'category-list' %}">All Categories</a></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Log out</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'home' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="content-area">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <div class="footer-content">
        </div>
    </footer>
</body>
</html>