{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 


{% block content %}
<div class="home-wrapper">
  <div class="home-text">
    <h1>Join BeLeaf!</h1>
  </div>

  <section class="login-card">
    <form action="{% url 'signup' %}" method="post" class="login" autocomplete="off">
      <h2>Create Account</h2>
      {% csrf_token %}

      {% if error_message %}
        <p class="red-text">{{ error_message }}</p>
      {% endif %}

      <div class="form-fields">
        {{ form.as_p }}
      </div>
  
      <button type="submit" class="submit-btn">Sign Up</button>
    </form>
  </section>
</div>

{% endblock %}
