@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 

* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #314528; 
  color: #f0f4ef;
  font-family: 'Figtree', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 120px solid transparent; 
  border-image-source: url('../images/canva-background.png');
  border-image-slice: 280; 
  border-image-repeat: round; 
  padding: 20px; 
}

.main-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 0;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.main-nav a, 
#logout-form button {
  color: #81a969; 
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}

.main-nav a:hover {
  color: #f0f4ef;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}

